<div class="row">
    <div class="col">
        <h3>Rules</h3>
        {% if not section.rules %}
        <span class="fa fa-plus"></span><a href="#" data-toggle="modal" data-target="#addRule"> New </a>
        {% endif %}
        {% for rule in section.rules %}
            {% set delete_url = url_for('delete_rule', itp_id=itp.id, section_id=section.id, rule_id=rule.id) %}
            <div class="card section" id="{{rule.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{rule.name}}</h5>
                    <p class="card-text">Order: {{rule.process_order}}</p>
                    <p class="card-text">Type: {{rule.rule_type}}</p>
                    <p class="card-text">Parameters: {{rule.parameters|join(",")}}</p>
                    <div class="card-footer">
                        <span class="fas fa-edit"></span><a href="#" id="updateRuleLink" data-toggle="modal" data-target="#updateRule" onclick='editRule(id="{{rule.id}}", name="{{rule.name}}", order="{{rule.process_order}}", type="{{rule.rule_type}}",parameters="{{rule.parameters|join(",")}}")'> Edit </a><span> | </span>
                        <span class="fas fa-trash-alt"></span><a href="{{delete_url}}"> Delete </a>
                        {% if loop.last %}
                        <span> | </span>
                        <span class="fa fa-plus"></span><a href="#" data-toggle="modal" data-target="#addRule"> New </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<a href="{{url_for('update_itpp_itp',id=itp.id,mode='sections')}}">Back</a>

<div class="modal" id="addRule" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create a rule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="col">
                <p>This is a form to create a new rule</p>
                <form id="addRuleForm">
                    <input name="itp_id" type="hidden" value="{{itp.id}}">
                    <input name="section_id" type="hidden" value="{{section.id}}">
                    <div class="form-group row">
                        <label for="ruleName">Name: </label>
                        <input name="ruleName" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="processOrder">Order: </label>
                        <input name="processOrder" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="ruleType">Type: </label>
                        <input name="ruleType" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="parameters">Parameters: </label>
                        <input name="parameters" class="form-control" type="text">
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="saveNewRule" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="updateRule" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update a rule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="col">
                <p>This is a form to update a rule</p>
                <form id="updateRuleForm">
                    <input id="itp_id" name="itp_id" type="hidden" value="{{itp.id}}">
                    <input id="section_id" name="section_id" type="hidden" value="{{section.id}}">
                    <input id="rule_id" name="rule_id" type="hidden">
                    <div class="form-group row">
                        <label for="ruleName">Name: </label>
                        <input id="ruleName" name="ruleName" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="processOrder">Order: </label>
                        <input id="processOrder" name="processOrder" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="ruleType">Type: </label>
                        <input id="ruleType" name="ruleType" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="parameters">Parameters: </label>
                        <input id="parameters" name="parameters" class="form-control" type="text">
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="saveUpdatedRule" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>    


<script type="text/javascript">

    $("#saveNewRule").click(function(e){
        e.preventDefault();
        var postData = $('form#addRuleForm').serializeArray();
        console.log(postData);
        $.ajax({
            url: "{{url_for('add_rule', itp_id=itp.id, section_id=section.id)}}",
            type: 'post',
            data: postData,
            dataType: 'json',
            success: function(return_data) {
                window.location.href = return_data['redirect'];
            }
        })
    });
    
    $("#saveUpdatedRule").click(function(e){
        e.preventDefault();
        var postData = $('form#updateRuleForm').serializeArray();
        console.log(postData);
        $.ajax({
            url: "{{url_for('get_or_update_rule', itp_id=itp.id, section_id=section.id)}}",
            type: 'post',
            data: postData,
            dataType: 'json',
            success: function(return_data) {
                window.location.href = return_data['redirect'];
            }
        })
    });
    
    function editRule(id,name,order,type,parameters) {
        console.log(id,name,order,type,parameters);
        $('#updateRule input#rule_id').val(id);
        $('#updateRule input#ruleName').val(name);
        $('#updateRule input#processOrder').val(order);
        $('#updateRule input#ruleType').val(type);
        $('#updateRule input#parameters').val(parameters);
    };
    </script>