{% extends 'base.html' %} {% block content %}

<style type="text/css">
    .customize {
        height: 800px;
        width: 1000px;
    }
</style>

<div class="container customize ">

    <h1 class="mt-1"> Section creation </h1>

    <hr>

    <form class="mt-5 orm-signin" method="POST" action="{{url_for('create_section')}}">
        <div class="row">
            <div class="col-sm">
                {% for field in form if field.widget.input_type != 'hidden'%}
                <div class="form-group col col-xs-12">
                    {{ field.label }} {{ field(class="form-control") }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Create the rule</button>

    </form>
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('list_sections')}}"> List of Section </a>
    </div>

</div>



{% endblock %}