{% extends 'base.html' %} {% block content %}

<style type="text/css">
    .customize {
        height: 800px;
        width: 1000px;
    }
</style>


<div class="container customize ">

    <h1 class="mt-1"> ITP Process - ITP Creation </h1>

    <hr>
    <div class="row">
        <div class="col">
            <h3>Meta</h3>
            <p>Here you define the top-level parameters for your ITP Document.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="itpDocument">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input name="name" type="text" class="form-control" placeholder="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="col-sm-3 col-form-label">Body</label>
                    <div class="col-sm-9">
                        <input name="body" type="text" class="form-control" placeholder="body">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="session" class="col-sm-3 col-form-label">Session</label>
                    <div class="col-sm-9">
                        <input name="session" type="text" class="form-control" placeholder="session">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="save">
                    <span class="fa fa-save"></span> Create Document
                </button>
            </form>
        </div>
    </div>
      
   
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('list_itpp_itps')}}"> List of ITPP ITPs </a>
    </div>

</div>



<script type="text/javascript">
$('#save').click(function(e) {
    e.preventDefault();
    var postData = $('form#itpDocument').serializeArray();
    $.ajax({
        url: "{{url_for('create_itpp_itp')}}",
        type: 'post',
        data: postData,
        dataType: 'json',
        success: function(return_data) {
            window.location.href = return_data['redirect'];
        }
    });
});

</script>



{% endblock %}