{% extends 'base.html' %} {% block content %}

<style type="text/css">
    .customize {
        height: 800px;
        width: 1000px;
    }
</style>

<div class="container customize ">

    <h1 class="mt-1"> Rule creation </h1>

    <hr>

    <form class="mt-5 orm-signin" method="POST" action="{{url_for('create_rule')}}">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="rule_name">Name</label>
                    <input type="text" class="form-control" id="rule_name" name="rule_name" placeholder="Enter the name of the rule">
                </div>
                <div class="form-group">
                    <label for="process_order">Process Order</label>
                    <input type="text" class="form-control" id="process_order" name="process_order" placeholder="Enter the process order">
                </div>
                <div class="form-group">
                    <label for="category">Rule Type</label>
                    <select multiple class="form-control" id="rule_type" name="rule_type" rows="3">
                                <option>Extract</option>
                                <option>Filter</option>
                                <option>Process</option>
                                <option>Sort</option>
                                <option>Group</option>
                                <option>Output</option>
                            </select>
                </div>

            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="parameters">Parameters</label>
                    <input type="text" class="form-control" id="parameters" name="parameters" placeholder="Enter the list of parameters">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Create the rule</button>

    </form>
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('list_rules')}}"> List of Rules </a>
    </div>

</div>



{% endblock %}