{% extends 'base.html' %} {% block content %}

<style type="text/css">
    .customize {
        height: 1200px;
        width: 800px;
    }
</style>

<div class="container customize mt-0">

    <h1> ITPP Rules </h1>

    <hr>
    <div class="alert alert-primary">
        <h3 class="mt-0"> Session : 72 </h3>
    </div>
    <hr>

    <div>
        <h4> ITP : A72 | Clone session | Edit session | Delete session </h4>
    </div>
    <hr>
    <form class="mt-0 form-signin" method="POST" action="">
        <div class="form-group row">
            <div>
                <div class="col">
                    <h5 class="text-success"> Rules : Filter records </h5>
                    <div class="mt-2">
                        <label for="exampleInputEmail1">Field1</label>
                        <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="mt-2">
                        <select multiple class="form-control" id="category" rows="3">
                        <option>Equal to</option>
                        <option>Other option</option>
                        <option>Other option</option>
                        <option>Other option</option>
                    </select>
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="exampleInputEmail1">Value</label>
                        <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp" placeholder="">
                    </div>

                    <button type="submit" class="btn btn-primary mb-5">Clone rule</button>
                    <button type="submit" class="btn btn-primary mb-5">Edit rule</button>
                    <button type="submit" class="btn btn-primary mb-5">Delete rule</button>
                    <button type="submit" class="btn btn-primary mb-5">Save</button>
                    <button type="submit" class="btn btn-primary mb-5">Cancel</button>
                </div>
            </div>
            <div class="col">
                <h5 class="text-success"> Rules : Filter fields </h5>
                <div class="mb-2">
                    <label for="exampleInputEmail1">Fields</label>
                    <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp" value="001,191$9,191$a,191$b,191$c,239$a">
                </div>
                <button type="submit" class="btn btn-primary mb-5">Clone rule</button>
                <button type="submit" class="btn btn-primary mb-5">Edit rule</button>
                <button type="submit" class="btn btn-primary mb-5">Delete rule</button>
            </div>
    </form>
    </div>

    {% endblock %}