{% extends "base.html" %}
{% block title %} itpitsc  {% endblock %}
{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  bg-secondary border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal text-center">Index to Speeches – Corporate names / countries : itpitsc <span class="badge badge-pill badge-info">{{totalRecord}} records </span></h3>
  <a class="btn btn-outline-primary" href="{{url_for('main')}}">Main Menu</a>
 
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="col-auto ml-5 mt-2">
        <h5> Pagination </h5>    
    </div>
    <div class="col-auto ">
        <a href="{{firstUrl}}" class="btn btn-info" role="button"><i class="fa fa-angle-double-left"> First </i></a>
        <a href="{{prevUrl}}" class="btn btn-info" role="button"><i class="fa fa-angle-left"> Previous</i></a>
        <a href="{{nextUrl}}" class="btn btn-info" role="button"><i class="fa fa-angle-right"> Next </i></a>
        <a href="{{lastUrl}}" class="btn btn-info" role="button"><i class="fa fa-angle-double-right"> Last </i></a>
    </div>
          
</div>
<hr>
    <!-- Mail -->
    <div>
        {% with mails = get_flashed_messages(category_filter=["message"]) %}
        {% if mails %}
            {% if category_filter!="error" %}    
                <div class="alert alert-success" role="alert">
                    <ul>
                    {%- for msg in mails %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                    </ul>
                </div>
            {% endif %}
            {% if category_filter=="error" %}    
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {%- for msg in mails %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
        {% endwith %}      
    </div>
<hr>
<div class="shadow d-flex justify-content-center">
    <ul>
        {% for record in myRecords %}
        <div>
            <div class="row card" >
                <div class="col">
                    <h5 class="card-header"><strong>ID </strong> {{record["_id"]}}</h5>
                    <p class="card-text ml-3"> <strong>SECTION</strong> {{record["section"]}}</p>
                    <p class="card-text ml-3"><strong>ITSHEAD</strong> {{ record['itshead'] }}</p>
                    <p class="card-text ml-3"> <strong>ITSSUBHEAD</strong> {{record["itssubhead"]}}</p>
                    <p class="card-text ml-3"> <strong>ITSENTRY</strong> {{record["itsentry"]}}</p>
                    <p class="card-text ml-3"><strong>DOCSYMBOL</strong> <a href="{{URL_PREFIX}}{{ record['docsymbol'] }}" target="_blank">{{record["docsymbol"]}}</a></p>
                    <p class="card-text ml-3"> <strong>RECORD_ID</strong> {{record["record_id"]}}</p>
                </div>
                <div class="col mb-2 mt-2 ml-3 ">
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#maModal{{record["_id"]}}"> <i class="fa fa-edit"> Update the record</i></button>
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#maModaltwo{{record["_id"]}}"><i class="fa fa-trash"> Delete the record</i></button>
                </div>   
            </div>
            <br>
            <!-- Modal window -->
            <div class="modal fade" id="maModal{{record["_id"]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> Record updating  {{record["_id"]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- form for the update -->
                            <form method="POST" action="{{url_for('itpp_updateRecorditpitsc',recordID=record["_id"])}}">
                                 <!-- itshead -->
                                <div class="form-group">
                                    <label for="text">ITSHEAD</label>
                                    <input type="text" class="form-control" name="itshead" id="itshead" value="{{record["itshead"]}}">
                                </div>
                                 <!-- itssubhead -->
                                <div class="form-group">
                                    <label for="text">ITSSUBHEAD</label>
                                    <input type="text" class="form-control" name="itssubhead" id="itssubhead" value="{{record["itssubhead"]}}">
                                </div>
                                 <!-- itsentry -->
                                <div class="form-group">
                                    <label for="text">ITSENTRY</label>
                                    <input type="text" class="form-control" name="itsentry" id="itsentry" value="{{record["itsentry"]}}">
                                </div>
                                 <!-- docsymbol -->
                                <div class="form-group">
                                    <label for="text">DOCSYMBOL</label>
                                    <input type="text" class="form-control" name="docsymbol" id="docsymbol" value="{{record["docsymbol"]}}">
                                </div>
                                 <!-- record_id -->
                                <div class="form-group">
                                    <label for="text">RECORD_ID</label>
                                    <input type="text" class="form-control" name="record_id" id="record_id" value="{{record["record_id"]}}">
                                </div>
                            <button type="submit" class="btn btn-primary">Update the record</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other Modal -->
                    <!-- Modal window -->
            <div class="modal fade" id="maModaltwo{{record["_id"]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> Deletion </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- form for the update -->
                            <p> Be careful, you are trying to delete the record with the ID <strong>{{record["_id"]}}</strong> </p>
                            <p> This action is not reversible, are you sure you want to delete this record? </p>
                            <form method="POST" action="{{url_for('itpitsc_deleteRecord',recordID=record["_id"])}}">
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                           
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}