{% extends 'base.html' %} {% block content %}
<style type="text/css">
    .customize {
        height: 800px;
        width: 1200px;
    }
</style>

<div class="container customize ">
    <h3>List of Section <span class="badge badge-pill badge-primary">{{myRecord}}</span></h3>
    <hr>
    <div>
        <!-- Simple Message -->
        {% with mails = get_flashed_messages(category_filter=["message"]) %} {% if mails %}
        <div class="alert alert-success" role="alert">
            <ul>
                {%- for msg in mails %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %} {% endwith %}
    </div>
    <div class="div-scroll table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Section Name</th>
                    <th scope="col">Section Order</th>
                    <th scope="col">Data Source</th>
                    <th scope="col">Rules</th>
                </tr>
            </thead>
            <tbody>
                {% for Section in Sections %}
                <tr>
                    <td>{{ Section.name }}</td>
                    <td>{{ Section.section_order }}</td>
                    <td>{{ Section.data_source }}</td>
                    <td>{{ Section.rules }}</td>
                    <td><i class="fas fa-edit"><a href="">  Edit </a></i> | <i class="fas fa-trash-alt"><a href=""> Delete </a></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('create_rule')}}"> Create a new rule | </a>
        <a href="{{url_for('main')}}"> Go back to the menu </a>
    </div>
</div>
<hr>

</div>
{% endblock %}