{% extends 'base.html' %} {% block content %}
<style type="text/css">
    .customize {
        height: 800px;
        width: 1200px;
    }
</style>

<div class="container customize ">
    <h3>List of Users <span class="badge badge-pill badge-primary">{{myRecord}}</span></h3>
    <hr>
    <div>
        <!-- Simple Message -->
        {% with mails = get_flashed_messages(category_filter=["message"]) %} {% if mails %}
        <div class="alert alert-success" role="alert">
            <ul>
                {%- for msg in mails %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %} {% endwith %}
    </div>
    <div class="div-scroll table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for User in users %}
                <tr>
                    <td>{{ User.username }}</td>
                    <td>{{ User.email }}</td>
                    <td>{{ User.created }}</td>
                    <td><i class="fas fa-edit"><a href="{{url_for('update_user', id=User.email)}}">  Edit </a></i> | <i class="fas fa-trash-alt"><a href="{{url_for('delete_user', id=User.email)}}"> Delete </a></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('create_user')}}"> Create a new user | </a>
        <a href="{{url_for('main')}}"> Go back to the menu </a>
    </div>
</div>
<hr>

</div>
{% endblock %}