{% extends 'base.html' %} {% block content %}
<div class="container">

    <h1>Main features</h1>
    <hr>
    <h5 class="text-primary"> Connected user : {{myUser}} </h5>
    <h5 class="text-primary"> Since : {{myTime}} </h5>
    <hr>
    <button onclick="myFunction()" class="btn btn-primary mb-5">Show / Hide Information</button>
    <div class="shadow" id="myDiv">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col">Batch files</th>
                    <th scope="col">S/</th>
                    <th scope="col">A/</th>
                    <th scope="col">E/</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>itpsubj</td>
                    <td>Bib: 035$a; 191$9; 191$a; 191$b; 191$c; 239$a; 245$a; 245$b; 245$c; 249$a; 269$a; 495$a; 515$a; 520$a; 598; 520$a; 599$a; 930$a; 991$a; 991$d; 991$e; 991$z; 992$a; 995$a; 996$a Auth: 191$b; 191$d</td>
                    <td>Bib: 035$a; 191$9; 191$a; 191$b; 191$c; 239$a; 245$a; 245$b; 245$c; 249$a; 269$a; 495$a; 515$a; 520$a; 598; 520$a; 599$a; 930$a; 991$a; 991$d; 991$e; 991$z; 992$a; 995$a; 996$a Auth: 191$b; 191$d</td>
                    <td>Bib: 035$a; 191$9; 191$a; 191$b; 191$c; 239$a; 245$a; 245$b; 245$c; 249$a; 269$a; 495$a; 515$a; 520$a; 598; 520$a; 599$a; 930$a; 991$a; 991$d; 991$e; 991$z; 992$a; 995$a; 996$a Auth: 191$b; 191$d</td>
                </tr>
                <tr>
                    <td>itpits</td>
                    <td>Bib: 035$a; 700$a; 700$g; 710$a; 711$a; 791$a; 991$d</td>
                    <td>Bib: 035$a; 700$a; 700$g; 710$a; 711$a; 791$a; 991$b; 991$d</td>
                    <td>Bib: 035$a; 700$a; 700$g; 710$a; 711$a; 791$a; 991$b; 991$d</td>
                </tr>
                <tr>
                    <td>itpage</td>
                    <td>Bib: 035$a; 191$9; 191$a; 949$a; 991 Indicator 1; 991$d</td>
                    <td>Auth: 035$a; 191$b; 191$c; 191$d</td>
                    <td>Auth: 035$a; 191$b; 191$c; 191$d</td>
                </tr>
                <tr>
                    <td>itpdsl</td>
                    <td>Bib: 035$a; 191$a; 191$b; 949$a</td>
                    <td>Bib: 035$a; 191$a; 191$b; 949$a</td>
                    <td>Bib: 035$a; 191$a; 191$b; 949$a</td>
                </tr>
                <tr>
                    <td>itpmeet</td>
                    <td>Bib: 035$a; 191$9; 191$a; 949$a; 992$a</td>
                    <td>Bib: 035$a; 191$9; 191$a; 949$a; 992$a</td>
                    <td>Bib: 035$a; 191$9; 191$a; 949$a; 992$a</td>
                </tr>
                <tr>
                    <td>itpres</td>
                    <td>Bib: 035$a; 191$9; 191$a; 191$b; 191$c; 191$d; 191$z; 239$a; 245$a; 248$a; 949$a; 992$a; 996$a</td>
                    <td>Bib: 035$a; 191$9; 191$a; 191$b; 191$c; 191$z; 239$a; 245$a; 248$a; 949$a; 991$b; 992$a; 996$a</td>
                    <td>Bib: 035$a; 191$9; 191$a; 191$b; 191$c; 191$z; 239$a; 245$a; 248$a; 949$a; 991$b; 992$a; 996$a</td>
                </tr>
                <tr>
                    <td>itpvot</td>
                    <td>Bib: 035$a; 591$a; 791$a; 791$b; 791$c; 949$a</td>
                    <td>Bib: 035$a; 591$a; 791$a; 791$b; 791$c; 949$a</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>itpsor</td>
                    <td>N/A</td>
                    <td>Bib: 035$a; 191$a; 191$b; 191$c; 495$a; 580$a; 592$a; 949$a</td>
                    <td>Bib: 035$a; 191$a; 191$b; 191$c; 495$a; 580$a; 592$a; 949$a</td>
                </tr>
                <tr>
                    <td>itpipx</td>
                    <td>N/A</td>
                    <td>Bib: 001; 191$9; 191$a; 191$b; 191$c; 930$a; 949$a; 991$b; 991$c; 991$m; 991$s</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>itpreps</td>
                    <td>N/A</td>
                    <td>Bib: 035$a; 089$b; 191$9; 191$a; 191$b; 191$c; 949$a; 991$b; 991$d</td>
                    <td>N/A</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="card-deck mb-3 text-center shadow mt-1 mb-5">

        <!-- Administration -->

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Administration</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                    <li> <a href="{{url_for('list_users')}}">User management</a></li>
                    <li> <a href="{{url_for('administration')}}">Log management</a></li>

                </ul>
            </div>
        </div>

        <!-- Section -->

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Section</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                    <li> <a href="{{url_for('list_sections')}}">Section management</a></li>
                    <li>Update section information</li>
                    <li>Delete section</li>
                </ul>
            </div>
        </div>


        <!-- Reports -->

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Reporting</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                    <li>XXXX</li>
                    <li>XXXX</li>
                    <li>XXXX</li>
                </ul>
            </div>
        </div>


    </div>
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('logout')}}"> Log out from the application </a>
    </div>
</div>
{% endblock %}