{% extends 'base.html' %} {% block content %}
<div class="container">

    <h1>Main features</h1>
    <hr>
    <h5 class="text-primary"> Connected user : {{myUser.email}} </h5>
    <hr>
    <div class="shadow">
        <div class="card-deck mb-3 text-center mb-6">

            <!-- Administration -->

            <div class="card mb-6 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Administration</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                        <li> <a href="{{url_for('list_users')}}">User management</a></li>
                        <li> <a href="{{url_for('administration')}}">Log management</a></li>

                    </ul>
                </div>
            </div>

            <!-- Section -->

            <div class="card mb-6 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Features</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                        <li> <a href="{{url_for('list_rules')}}">Rule management</a></li>
                        <li> <a href="{{url_for('list_sections')}}">Section management</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Reports -->

        <div class="card mb-12 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Reporting</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Bib Reports</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                                    <!-- Implement the loop for generating the links for the reports -->
                                    <li> <a href="">Agenda List</a></li>
                                    <li> <a href="">Incorrect field - 793 (Committees)</a></li>
                                    <li> <a href="">Incorrect field - 793 (Plenary)</a></li>
                                    <li> <a href="">Incorrect field - 991</a></li>
                                    <li> <a href="">Incorrect session - 191</a></li>
                                    <li> <a href="">Incorrect subfield - 191$9</a></li>
                                    <li> <a href="">Missing field - 793</a></li>
                                    <li> <a href="">Missing field - 991</a></li>
                                    <li> <a href="">Missing field - 992</a></li>
                                    <li> <a href="">Missing subfield - 191$9</a></li>
                                    <li> <a href="">Missing subfield - 991$d</a></li>
                                    <li> <a href="">Missing subfield value - 991$f X27</a></li>
                                    <li> <a href="">Missing subfield value - 991$z I</a></li>
                                    <li> <a href="">Missing subfield value - 999$c t</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Speech Reports</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                                    <!-- Implement the loop for generating the links for the reports -->
                                    <li> <a href="">Agenda List</a></li>
                                    <li> <a href="">Duplicate speech records</a></li>
                                    <li> <a href="">Field mismatch - 269 & 992</a></li>
                                    <li> <a href="">Incomplete authorities</a></li>
                                    <li> <a href="">Incorrect field - 991</a></li>
                                    <li> <a href="">Incorrect field - 992</a></li>
                                    <li> <a href="">Incorrect session - 791</a></li>
                                    <li> <a href="">Missing field - 039</a></li>
                                    <li> <a href="">Missing field - 856</a></li>
                                    <li> <a href="">Missing field - 991</a></li>
                                    <li> <a href="">Missing field - 992</a></li>
                                    <li> <a href="">Missing subfield - 991$d</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Voting Reports</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                                    <!-- Implement the loop for generating the links for the reports -->
                                    <li> <a href="">Agenda List</a></li>
                                    <li> <a href="">Field mismatch - 269 & 992</a></li>
                                    <li> <a href="">Incorrect field - 991</a></li>
                                    <li> <a href="">Incorrect field - 992</a></li>
                                    <li> <a href="">Incorrect session - 791</a></li>
                                    <li> <a href="">Missing field - 039</a></li>
                                    <li> <a href="">Missing field - 856</a></li>
                                    <li> <a href="">Missing field - 991</a></li>
                                    <li> <a href="">Missing field - 992</a></li>
                                    <li> <a href="">Missing subfield - 991$d</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Other</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4 text-left font-weight-bold">
                                    <!-- Implement the loop for generating the links for the reports -->
                                    <li> <a href="">Missing Field -930</a></li>
                                    {% for report in reports %}
                                    <li> <a href="{{url_for('get_report_by_id',name=report.name)}}">{{report.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('logout')}}"> Log out from the application </a>
    </div>
</div>
{% endblock %}