{% extends 'base.html' %} {% block content %}


<style type="text/css">
    .customize {
        height: 200px;
        width: 1000px;
    }
</style>
<style type="text/css">
    .customize1 {
        width: 1000px;
    }
</style>
<style>
    div#loading {
        position: fixed;
        width: 1000px;
        height: 10000px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }
</style>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div id="loading">
    <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}">
</div>
<div id="content">
    <div class="container customize shadow">
        <div class="container mt-4 mb-4">
            <h1>Execute Section Tool</h1>
            <hr>

            <h5>Execute each section of the ITP based on the criteria below: </h5>

            <form class="mt-3 form-inline" method="POST" action="{{selectSection}}" >
                <div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1" class="my-1 mr-2">Body / Session</label>
                        <select class="form-control mr-3" id="bodysession" name="bodysession">
                            {% for bodysession in bodysessions %}
                            <option>{{bodysession}}</option>
                            {% endfor %}
                        </select>
                      <!-- </div> 
                      <div class="form-group"> -->
                        <label for="exampleFormControlInput1" class="mr-2">Section</label>
                        <select class="form-control mr-3" id="paramSection" name="paramSection">
                            {% for section in sections %}
                            <option>{{section['code']}}</option>
                            {% endfor %}
                          </select>
                      </div>
                </div>
                <button id="getResults" type="submit" class="btn btn-primary" onclick="loading();">Generate Section </button>
            </form>

        </div>

    </div>
    
    <div class="container customize1 shadow">
        <div class="container mt-4 mb-4" id="results">

            <h3>Previously Generated Sections</h3>

            <hr>
            <table id="myTable" class="table table-striped sortable">
                <thead>
                    <tr>
                        <th scope="col">Body / Session</th>
                        <th scope="col">Section</th>
                        <th scope="col">Generated Date</th>
                    <!--<th scope="col">Input#</th> -->
                        <th scope="col">Records</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in resultsSearch %}
                    <tr>
                        <td>{{ result['bodysession'] }}</td>
                        <td>{{ result['section'] }}</td>
                        <td>{{ result['ts'] }}</td>
                        <td>{{ result['count'] }}</td>
<!--                         <td>four</td>
                        <td>five</td> -->
                        
                    </tr>
                    {% endfor %}


            </table>
        </div>
    </div>

    <br>
    <div id="output"></div>
    <br>
    <div class="container">
        <hr>
        <a href="{{url_for('main')}}"> Go back to the menu </a>
    </div>
</div>

<script type="text/javascript">
   function loading() {
        $("#loading").show();
  }
</script>



{% endblock %}