{% extends 'base.html' %} {% block content %}


<style type="text/css">
    .customize {
        height: 200px;
        width: 1000px;
    }
</style>
<style type="text/css">
    .customize1 {
        width: 1000px;
    }
</style>
<style>
    div#loading {
        position: fixed;
        width: 1000px;
        height: 10000px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }
</style>
<!-- <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> -->
<div id="loading">
    <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}">
</div>

<div id="content">
    <div class="container customize shadow">
        <div class="container mt-4 mb-4">
            <h1>Generate Sections</h1>
            <hr>

            <h5>Execute each section of the ITP based on the criteria below: </h5>

            <form method="POST" action="{{selectSection}}" >
                <div>
                    <div class="row g-5">
                        <div class="col-auto">
                            <label class="col-form-label" for="bodysession">Body / Session</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select mr-3" id="bodysession" name="bodysession">
                                {% for bodysession in bodysessions %}
                                <option value={{bodysession}} {% if bodysession==ss_bs %} selected {% endif %}>{{bodysession}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label class="col-form-label" for="paramSection">Section</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select mr-3" id="paramSection" name="paramSection">
                                {% for section in sections %}
                                <option {% if section["code"]==ss_s %} selected {% endif %}>{{section["code"]}}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="col-auto">
                            <button id="getResults" type="submit" class="btn btn-primary" onclick="loading();">Generate Section </button>
                        </div>
                    </div>
                       
                      
                </div>
                
            </form>

        </div>

    </div>
    

    <div class="container customize1 shadow">

        <div class="container mt-4 mb-4" id="results">

            <h3>Previously Generated Sections</h3>

            <hr>
            
            <p>Filter by Body/Session: <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Ex. A/74 or E/2018-S"></p>

            <table id="myTable" class="table sortable">
                <thead>
                    <tr>
                        <th scope="col">Body / Session</th>
                        <th scope="col">Section</th>
                        <th scope="col">Generated Date</th>
                    <!--<th scope="col">Input#</th> -->
                        <th scope="col">Records</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in resultsSearch %}
                    <tr>
                        <td>{{ result['bodysession'] }}</td>
                        <td>{{ result['section'] }}</td>
                        <td>{{ result['ts'] }}</td>
                        <td>{{ result['count'] }}</td>
<!--                         <td>four</td>
                        <td>five</td> -->
                        
                    </tr>
                    {% endfor %}


            </table>
        </div>
    </div>

    <br>
    <div id="output"></div>


<script type="text/javascript">
   function loading() {
        $("#loading").show();
  }

  function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("results");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



{% endblock %}