{% extends 'base.html' %} {% block content %}

<style type="text/css">
    .customize {
        height: 800px;
        width: 1000px;
    }
</style>

<div class="container customize ">

    <h1 class="mt-1"> ITP Process - ITP Creation </h1>

    <hr>
    {% if mode == 'init' %}
    <div class="row">
        <div class="col">
            <h3>Meta</h3>
            <p>Here you define the top-level parameters for your ITP Document.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="itpDocument">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        {% if itp.name %}
                        <input name="name" type="text" class="form-control" placeholder="name" value="{{itp.name}}">
                        {% else %}
                        <input name="name" type="text" class="form-control" placeholder="name">
                        {% endif %}
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="col-sm-3 col-form-label">Body</label>
                    <div class="col-sm-9">
                        {% if itp.body %}
                        <input name="body" type="text" class="form-control" placeholder="name" value="{{itp.body}}">
                        {% else %}
                        <input name="body" type="text" class="form-control" placeholder="body">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="session" class="col-sm-3 col-form-label">Session</label>
                    <div class="col-sm-9">
                        {% if itp.itp_session %}
                        <input name="session" type="text" class="form-control" placeholder="name" value="{{itp.itp_session}}">
                        {% else %}
                        <input name="session" type="text" class="form-control" placeholder="session">
                        {% endif %}
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="save">
                    <span class="fa fa-save"></span> Create Document
                </button>
            </form>
        </div>
    </div>
    {% elif mode == 'add_sections' %}
        {% if not snapshots %}
        <div class="row">
            <div class="col">
                
                <p>There are no snapshots available. You should create one before continuing.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createSnapshot">
                    <span class="fa fa-plus"></span> Create Snapshot
                </button>
                
            </div>
        </div>
        <hr>
        {% endif %}
    <div class="row">
        <div class="col">
            <h3>Sections</h3>
            {% if not itp.sections %}
            <span class="fa fa-plus"></span><a href="#" data-toggle="modal" data-target="#createSection"> New </a>
            {% endif %}
            {% for section in itp.sections %}
                {% set delete_url = url_for('delete_section', itp_id=itp.id, section_id=section.id) %}
                <div class="card section" id="{{section.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{section.name}}</h5>
                        <p class="card-text">Order: {{section.section_order}}</p>
                        <p class="card-text">Data Source: {{section.data_source}}</p>
                        <div class="card-footer">
                            <span class="fas fa-edit"></span><a href="#"> Edit </a><span> | </span>
                            <span class="fas fa-trash-alt"></span><a href="#" onclick='deleteSection("{{delete_url}}")'> Delete </a>
                            {% if loop.last %}
                            <span> | </span>
                            <span class="fa fa-plus"></span><a href="#" data-toggle="modal" data-target="#createSection"> New </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="?mode=init">Back</a>

    {% endif %}
   
    <hr>
    <div class="text-bold text-right font-weight-bold">
        <a href="{{url_for('list_itpp_itps')}}"> List of ITPP ITPs </a>
    </div>

</div>

<div class="modal" id="createSection" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create a section</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="col">
                <p>This is a form to create a new section</p>
                <form id="addSection">
                    <input name="itp_id" type="hidden" value="{{itp.id}}">
                    <div class="form-group row">
                        <label for="sectionName">Name: </label>
                        <input name="sectionName" class="form-control" type="text">
                    </div>
                    <div class="form-group row">
                        <label for="sectionOrder">Order: </label>
                        <input name="sectionOrder" class="form-control" type="text">
                    </div>
                    {% if snapshots %}
                    <div class="form-group row">
                        <label for="dataSource">Data Source: </label>
                        <input name="dataSource" class="form-control" type="text">
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="saveSection" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$('#save').click(function(e) {
    e.preventDefault();
    var postData = $('form#itpDocument').serializeArray();
    $.ajax({
        url: "{{url_for('update_itpp_itp', id=itp.id)}}",
        type: 'post',
        data: postData,
        dataType: 'json',
        success: function(return_data) {
            window.location.href = return_data['redirect'];
        }
    });
});

$("#saveSection").click(function(e){
    e.preventDefault();
    var postData = $('form#addSection').serializeArray();
    console.log(postData);
    $.ajax({
        url: "{{url_for('add_section', id=itp.id)}}",
        type: 'post',
        data: postData,
        dataType: 'json',
        success: function(return_data) {
            window.location.href = return_data['redirect'];
        }
    })
});

function deleteSection(url){
    
    console.log(url);
}

</script>



{% endblock %}